.App {
  height: 100%;
  width: 100%;
  text-align: left;
}

.diagramContainer {
  height: 100%;
  width: 100%;
}

.disable-double-click {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}